html {
    background-color: rgb(80, 78, 231);
    font-family: sans-serif;
}
h1 {
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    color: snow;
    padding: 100px;
}
h2 {
    text-align: center;
    padding-bottom: 22px;
    padding-top: 22px;
    font-weight: bold;
    text-decoration: underline;
    font-size: 28px;
}
p {
    padding-left: 15px;
    line-height: 25px;
}
p.topfoot {
    text-align: center;
    padding-top: 100px;
    padding-left: 0px;
    color: snow;
    text-decoration: underline;
}
p.foot {
    text-align: center;
    padding-left: 0px;
}