p, nav, header, article, aside{ 
    border: solid black 3px;
}

article {
  display: inline-block;
  width: 68%;
  height: 1000px;
}

nav {
  display: inline-block;
  width: 15%;
}

aside {
  display: inline-block;
  width: 15%;
  background-color:snow;
}

body {
  width: 100%;
}

#second {
  background-color:snow;
  margin-right:40px;
}

body {
  background-color:rgb(243, 99, 99);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-color: black;
    font-size: 80px;
    color: rgb(243, 99, 99);
    text-align: center;
}